---
import logoLight from "../../../public/images/brand/logomark/nuva-logomark-colored-light.svg?raw";
import logoDark from "../../../public/images/brand/logomark/nuva-logomark-colored-dark.svg?raw";
---

<footer class="w-full bg-foreground/5">
    <div
        class="p-8 max-w-screen-2xl mx-auto flex flex-col lg:flex-row gap-2 justify-between items-center lg:items-start"
    >
        <h2>
            <a href="/" class="hover:underline focus:underline flex gap-4 items-center">
                <img
                    class="h-16 w-auto dark:hidden"
                    src="/images/brand/logotype/nuva-logotype-colored-light.svg"
                    alt=""
                />
                <img
                    class="h-16 w-auto hidden dark:block"
                    src="/images/brand/logotype/nuva-logotype-colored-dark.svg"
                    alt=""
                />
            </a>
        </h2>
        <div class="ml-auto"></div>
        <div class="flex flex-col items-center lg:items-end gap-1">
            <a href="/projects" class="hover:underline focus:underline">Projects</a>
            <a href="/about" class="hover:underline focus:underline">About</a>
            <a href="/contact" class="hover:underline focus:underline">Contact</a>
        </div>
    </div>

    <p class="text-center px-8 pt-8">Made with ❤️ and ☕️ in Sandefjord, Norway</p>
    <p class="text-center px-8 py-4 opacity-50">&copy; {new Date().getFullYear()} NUVA AS</p>
</footer>
