---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main class="max-w-screen-2xl mx-auto min-h-[calc(100vh-10rem)] pt-16">
        <div class="text-center">
            <h2 class="mt-16 mx-auto font-light font-serif text-3xl">Contact us</h2>
        </div>
        <section class="p-4 px-4 md:px-8">
            <div class="flex flex-col gap-4 md:gap-8 text-center">
                <p>
                    You can reach us at <a href="mailto:post@nuva.no" class="text-blue-700 dark:text-blue-400 underline"
                        >post@nuva.no</a
                    > or
                    <a href="tel:+4748173357" class="text-blue-700 dark:text-blue-400 underline">481 73 357</a>.
                </p>
            </div>
        </section>
    </main>
</Layout>
