---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main class="overflow-hidden">
        <div class="max-w-screen-2xl mx-auto">
            <section class="relative h-[50vh] sm:h-[66vh] max-h-full min-h-[15rem] flex flex-col">
                <div class="mt-auto pt-16 px-4 md:px-8 max-w-full lg:w-[80ch] text-center sm:text-left">
                    <h1 class="font-serif font-light text-8xl sm:text-9xl lg:text-[10rem]">NUVA</h1>
                    <p class="mt-4 md:mt-8">
                        We are a technology agency that specializes in building tailormade software and hardware, for
                        spesific industry needs.
                    </p>
                </div>
                <img
                    class="dark:hidden block absolute left-[10vw] md:left-[15vw] -top-[50vw] md:-top-[33vw] w-[300vw] md:w-[150vw] h-auto max-w-none pointer-events-none -z-[2] motion-safe:animate-[spin_30s_linear_infinite]"
                    src="/images/nuva-gradient-bg-min.webp"
                    alt=""
                />
                <img
                    class="light:hidden dark:block absolute left-[10vw] md:left-[15vw] -top-[50vw] md:-top-[33vw] w-[300vw] md:w-[150vw] h-auto max-w-none pointer-events-none -z-[2] motion-safe:animate-[spin_30s_linear_infinite]"
                    src="/images/nuva-gradient-bg-min-dark.webp"
                    alt=""
                />
                <div
                    class="absolute left-[10vw] md:left-[15vw] -top-[50vw] md:-top-[33vw] w-[300vw] md:w-[150vw] h-[300vw] md:h-[150vw] max-w-none pointer-events-none -z-[1] mix-blend-soft-light dark:mix-blend-darken rounded-full p-[15vw] bg-[url('/images/512-25-100-monochrome.png')] bg-repeat bg-auto bg-center"
                >
                </div>
            </section>
            <div class="lg:w-[80ch]">
                <div class="text-center">
                    <div class="mt-16 mx-auto w-px h-64 bg-current"></div>
                    <h2 class="mt-4 mx-auto font-light font-serif text-3xl">Our solutions</h2>
                    <div class="mt-4 mx-auto w-px h-32 bg-current"></div>
                </div>
                <section class="p-4 px-4 md:px-8">
                    <ul class="flex flex-col gap-4 md:gap-8">
                        <li>
                            <h3 class="font-bold font-serif text-xl">Sauna Booking</h3>
                            <p>
                                SaaS made for sauna owners. With integrations to different payment providers, smart
                                locks and sauna ovens.
                            </p>
                            <p>
                                <a
                                    href="https://saunabooking.no?ref=nuva.no"
                                    target="_blank"
                                    rel="noopener"
                                    class="text-blue-700 dark:text-blue-400 underline">saunabooking.no</a
                                >
                            </p>
                        </li>
                        <li>
                            <h3 class="font-bold font-serif text-xl">Gym membership app</h3>
                            <p>
                                Web app made for Sandefjord Kampsport. Members get a QR code on their phone that they
                                scan at the entrance to get in. We made the hardware and software for the QR code
                                scanner and door lock.
                            </p>
                            <p>
                                <a
                                    href="https://www.sandefjordkampsport.no?ref=nuva.no"
                                    target="_blank"
                                    rel="noopener"
                                    class="text-blue-700 dark:text-blue-400 underline">sandefjordkampsport.no</a
                                >
                            </p>
                        </li>
                        <li>
                            <h3 class="font-bold font-serif text-xl">Digital contract system</h3>
                            <p>
                                Web app made for a vocational school. Employees can create and send contracts to
                                students, who sign them digitally.
                            </p>
                        </li>
                    </ul>
                </section>
                <div class="text-center">
                    <h2 class="mt-16 mx-auto font-light font-serif text-3xl">Contact us</h2>
                </div>
                <section class="p-4 px-4 md:px-8 mb-16">
                    <div class="flex flex-col gap-4 md:gap-8 text-center">
                        <p>
                            You can reach us at <a
                                href="mailto:post@nuva.no"
                                class="text-blue-700 dark:text-blue-400 underline">post@nuva.no</a
                            > or
                            <a href="tel:+4748173357" class="text-blue-700 dark:text-blue-400 underline">481 73 357</a>.
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </main>
</Layout>
