---
import Layout from "../layouts/Layout.astro";
import helloGraphic from "../../public/images/hello.svg?raw";
import ContentSection from "../components/dumb/ContentSection.astro";
import Button from "../components/dumb/Button.astro";
---

<Layout>
    <main>
        <!-- <div class="bg-foreground/5 pt-12 lg:pt-14"> -->
        <div class="pt-32 min-h-[calc(100vh-10rem)]">
            <ContentSection className="flex flex-col lg:grid lg:grid-cols-3 items-center">
                <div>
                    <h1 class="font-serif font-light text-8xl">NUVA</h1>
                    <p class="mt-4">
                        We are a technology agency that specializes in building tailormade software and hardware, for
                        spesific industry needs.
                    </p>
                    <div class="flex gap-2 mt-4">
                        <Button href="/contact" variant="primary">Contact us</Button>
                        <Button href="/projects" variant="primaryOutline">Our projects</Button>
                    </div>
                </div>
                <div class="w-full max-w-full flex justify-center items-center lg:col-span-2 p-4">
                    <Fragment set:html={helloGraphic} />
                </div>
            </ContentSection>
        </div>
        <!-- <ContentSection className="flex justify-between">
            <p>hello</p>
        </ContentSection> -->
    </main>
</Layout>
