---
import Layout from "../layouts/Layout.astro";
import "../components/dumb/ContentRenderer.css";
---

<Layout title="Personvernerklæring">
    <main class="relative max-w-full overflow-x-hidden pt-16 pb-32">
        <header class="pt-16 flex flex-col gap-8 items-center relative w-full max-w-screen-2xl mx-auto">
            <div class="w-full max-w-3xl mx-auto px-4 lg:px-8">
                <div class="content-renderer-section">
                    <h1>Personvernerklæring</h1>
                    <p>
                        Denne personvernerklæringen gjelder for tjenesten "Sandefjord Kampsport" drevet av NUVA AS,
                        org.nr.: 833 576 852
                    </p>
                    <p><strong>Sist oppdatert:</strong> <time datetime="2025-07-28">28. juli 2025</time></p>
                    <!-- <p><strong>Siste endringer:</strong></p>
                    <ul><li>Oppdaterte kontaktinformasjon.</li></ul> -->
                    <h2>Innledning</h2>
                    <p>
                        Personvernerklæringen inneholder informasjon om hvilke opplysninger som innhentes, hvorfor de
                        innhentes, hvordan innhentede opplysninger blir brukt og hvilke alternativer og rettigheter du
                        har vedrørende innhenting av disse personopplysningene. Dokumentet er bevisst forsøkt å holde et
                        enkelt og forståelig språk. Dersom noe er uklart hører vi gjerne fra deg på
                        <a href="mailto:post@nuva.no">post@nuva.no</a>.
                    </p>

                    <h2>1. Personopplysninger som behandles</h2>
                    <p>
                        NUVA AS samler ikke direkte inn personopplysninger som fødselsdato- og personnummer, eller
                        opplysninger om personlige betalingskort. Denne type informasjon kan bli lagret hos en
                        tredjepart ved betaling.
                    </p>
                    <p>
                        Følgende informasjon som kan knyttes til deg blir innhentet og/eller lagret ved bruk av våre
                        tjenester:
                    </p>
                    <ul>
                        <li>Navn</li>
                        <li>E-postadresse</li>
                        <li>Telefonnummer</li>
                    </ul>

                    <h2>2. Hvor henter vi personopplysninger fra?</h2>
                    <p>NUVA AS samler inn opplysninger gjennom appen "Sandefjord Kampsport".</p>

                    <h2>3. Formålet med behandlingen</h2>
                    <p>
                        NUVA AS lagrer kun informasjon som er strengt nødvendig for at appen skal kunne fungere som
                        forventet.
                    </p>

                    <h2>4. Hvordan lagrer vi informasjonen</h2>
                    <p>Informasjon lagres hos våre tredjepartsleverandører (datasenter i Europa).</p>

                    <h2>5. Hvor lenge lagres informasjonen?</h2>
                    <p>
                        Opplysningene lagres så lenge opplysningen er relevante og vi har behov for opplysningene for å
                        kunne levere våre tjenester.
                    </p>

                    <h2>6. Hvordan slette opplysningene?</h2>
                    <p>Informasjon slettes på oppfordring ved å kontakte vårt kundesenter.</p>

                    <h2>7. Utlevering av opplysninger til tredjeparter</h2>
                    <p>Personopplysningene deles ikke med utenforstående tredjeparter.</p>

                    <h2>8. Dine rettigheter</h2>
                    <p>
                        Dersom du ønsker å vite hvilken informasjon vi har registrert på deg kan du ta kontakt med oss
                        på
                        <a href="mailto:post@nuva.no">post@nuva.no</a>.
                    </p>
                    <ul>
                        <li>
                            <strong>Innsyn</strong>
                            <p>
                                Vi plikter til å kostnadsfritt å gi deg innsyn og informasjon om registrerte
                                opplysninger vi har om deg innen 30 dager.
                            </p>
                        </li>
                        <li>
                            <strong>Rettelser</strong>
                            <p>
                                Oppdager du feil eller det er endringer i opplysningene (f.eks. ny adresse,
                                telefonnummer, e-post) ber vi deg vennligst ta kontakt med oss snarest mulig, slik at vi
                                kan oppdatere opplysningene.
                            </p>
                        </li>
                        <li>
                            <strong>Dataportabilitet</strong>
                            <p>
                                Du har muligheten til å kreve personopplysningene dine utlevert i et strukturert,
                                alminnelig anvendt og maskinlesbart format, og til å ta opplysningene med deg til en
                                annen virksomhet. Dette gjelder kun opplysninger du aktivt har gitt fra deg.
                            </p>
                        </li>
                        <li>
                            <strong>Begrenset behandling</strong>
                            <p>
                                Ønsker du å begrense vår behandlingen av dine persondata, har du rett til å be om dette.
                            </p>
                        </li>
                        <li>
                            <strong>Sletting</strong>
                            <p>
                                Ønsker du å slette dine personopplysninger, har du rett til å gjøre dette så lenge vi
                                ikke er lovpålagt å lagre de.
                            </p>
                        </li>
                    </ul>
                    <p>
                        Dersom du mener at NUVA AS ikke har overholdt dine rettigheter i henhold til
                        personopplysningsloven, har du rett til å klage til den aktuelle tilsynsmyndigheten. Dette
                        gjøres ved å sende klage til Datatilsynet, kontaktinformasjon er tilgjengelig på
                        <a href="https://datatilsynet.no" target="_blank">www.datatilsynet.no</a>
                    </p>

                    <h2>9. Slik kontakter du oss</h2>
                    <p>Telefon / SMS: <a href="tel:+47 48 17 33 57">+47 48 17 33 57</a></p>
                    <p>
                        E-post:
                        <a href="mailto:post@nuva.no">post@nuva.no</a>
                    </p>
                    <p>NUVA AS, Mostuveien 8E, 3226 Sandefjord.</p>
                </div>
            </div>
        </header>
    </main>
</Layout>
