---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main class="max-w-screen-2xl mx-auto min-h-[calc(100vh-10rem)] pt-16">
        <div class="text-center">
            <h2 class="mt-4 mx-auto font-light font-serif text-3xl">Our solutions</h2>
        </div>
        <section class="p-4 px-4 md:px-8">
            <ul class="flex flex-col gap-4 md:gap-8">
                <li>
                    <h3 class="font-bold font-serif text-xl">Sauna Booking</h3>
                    <p>
                        SaaS made for sauna owners. With integrations to different payment providers, smart locks and
                        sauna ovens.
                    </p>
                    <p>
                        <a
                            href="https://saunabooking.no?ref=nuva.no"
                            target="_blank"
                            rel="noopener"
                            class="text-blue-700 dark:text-blue-400 underline">saunabooking.no</a
                        >
                    </p>
                </li>
                <li>
                    <h3 class="font-bold font-serif text-xl">Gym membership app</h3>
                    <p>
                        Web app made for Sandefjord Kampsport. Members get a QR code on their phone that they scan at
                        the entrance to get in. We made the hardware and software for the QR code scanner and door lock.
                    </p>
                    <p>
                        <a
                            href="https://www.sandefjordkampsport.no?ref=nuva.no"
                            target="_blank"
                            rel="noopener"
                            class="text-blue-700 dark:text-blue-400 underline">sandefjordkampsport.no</a
                        >
                    </p>
                </li>
                <li>
                    <h3 class="font-bold font-serif text-xl">Digital contract system</h3>
                    <p>
                        Web app made for a vocational school. Employees can create and send contracts to students, who
                        sign them digitally.
                    </p>
                </li>
            </ul>
        </section>
    </main>
</Layout>
