---
import Layout from "../layouts/Layout.astro";
import "../components/dumb/ContentRenderer.css";
---

<Layout title="Squad - Utelivs appen">
    <main class="relative max-w-full overflow-x-hidden pt-16 pb-32">
        <header class="pt-16 flex flex-col gap-8 items-center relative w-full max-w-screen-2xl mx-auto">
            <div class="w-full max-w-3xl mx-auto px-4 lg:px-8">
                <div class="content-renderer-section">
                    <h1>Squad - Utelivs appen</h1>
                    <p>Mer info kommer.</p>
                </div>
            </div>
        </header>
    </main>
</Layout>
